.link {
    display: block;
    background-color: #48d343;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    width: 90vw;
    border-radius:1em;
}

.link a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.link:hover{
    background-color: #84d120;
}